@import "tailwindcss";

:root {
  --theme-primary: #c15c5c;
  --theme-secondary: #d96d6d;
  --theme-bg: #c15c5c;
}

body {
  background-color: var(--theme-bg);
  transition: background-color 0.5s ease;
}
